<h1>Todos</h1>
<%= link_to "Log out", destroy_user_session_path,
                        method: :delete %><br />
<br />

<%= link_to "New Todo",  new_todo_path%><br />
<br />
<table>
  <tr>
    <th>Title</th>
    <th>Completed</th>
    <th>Editing</th>
    <th></th>
  </tr>

  <% @todo.each do |todo| %>
    <tr>
      <td><%= todo.title %></td>
      <td><%= todo.completed %></td>
      <td><%= todo.editing %></td>
      <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
    </tr>
  <% end %>
</table>

